In [1]:
#importing required libraries

import pandas as pd
import selenium
from selenium import webdriver
import time
import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

In [2]:
#loading the drivers and url
driver=webdriver.Chrome(r'Chromedriver.exe')
driver.maximize_window() #To maximise the window

#getting targeted url
driver.get('https://www.carwale.com/used/cars-in-delhi/#city=10&pc=10&sc=-1&so=-1&pn=1')

C:\Users\CLICKM~1\AppData\Local\Temp/ipykernel_20396/1724490727.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'Chromedriver.exe')

In [3]:
#creating an empty lists

names=[]
model=[]
Kilometers=[]
Fuel=[]
Location=[]
EMI=[]
Price=[]


for i in range(0,50):
    driver.execute_script("window.scrollBy(0,50000)")
    names_Tag=driver.find_elements(By.XPATH,'//span[@class="spancarname card-detail-block__title-text-with-year"]')
    for i in names_Tag:
        try:
            names.append(i.text)# saving in the list
        except:
            names.append(i.text)("NA")
    
    model_Tag=driver.find_elements(By.XPATH,'//span[@class="slYear card-detail-block__title-text-with-year"]')
    for i in model_Tag:
        try:
            model.append(i.text)# saving in the list
        except:
            model.append(i.text)("NA")

    KM_Tag=driver.find_elements(By.XPATH,"//span[@class='slkms']")
    for i in KM_Tag:
        try:
            Kilometers.append(i.text)# saving in the list
        except:
            Kilometers.append(i.text)("NA")

    Fuel_Tag=driver.find_elements(By.XPATH,"//span[@class='fuel']")
    for i in Fuel_Tag:
        try:
            Fuel.append(i.text)# saving in the list
        except:
            Fuel.append(i.text)("NA")

    Location_Tag=driver.find_elements(By.XPATH,"//span[@class='cityName']")
    for i in Location_Tag:
        try:
            Location.append(i.text)# saving in the list
        except:
            Location.append(i.text)("NA")

    EMI_Tag=driver.find_elements(By.XPATH,"//p[@class='card-detail__emi-text']")
    for i in EMI_Tag:
        try:
            EMI.append(i.text)# saving in the list
        except:
            Kilometers.append(i.text)("NA")
        
    Price_Tag=driver.find_elements(By.XPATH,'//span[@data-bind="text: Price"]') 
    for i in Price_Tag:
        try:
            Price.append(i.text)# saving in the list
        except:
            Price.append(i.text)("NA")    
    print(len(names),len(model),len(Kilometers),len(Fuel),len(Location),len(EMI),len(Price))

31 31 31 55 55 47 55
86 86 110 134 134 118 134
165 189 213 237 237 213 237
268 340 364 388 388 355 388
419 539 563 587 587 540 587
618 786 810 834 834 752 834
865 1033 1057 1081 1081 964 1081
1112 1280 1304 1328 1328 1176 1328
1359 1527 1551 1575 1575 1388 1575
1606 1774 1798 1822 1822 1600 1822
1853 2021 2045 2069 2069 1812 2069
2100 2268 2292 2316 2316 2024 2316
2347 2515 2539 2563 2563 2236 2563
2594 2762 2786 2810 2810 2448 2810
2841 3009 3033 3057 3057 2660 3057
3088 3256 3280 3304 3304 2872 3304
3335 3503 3527 3551 3551 3084 3551
3582 3750 3774 3798 3798 3296 3798
3829 3997 4021 4045 4045 3508 4045
4076 4244 4268 4292 4292 3720 4292
4323 4491 4515 4539 4539 3932 4539
4570 4738 4762 4786 4786 4144 4786
4817 4985 5009 5033 5033 4356 5033
5064 5232 5256 5280 5280 4568 5280
5311 5479 5503 5527 5527 4780 5527
5558 5726 5750 5774 5774 4992 5774
5805 5973 5997 6021 6021 5204 6021
6052 6220 6244 6268 6268 5416 6268
6299 6467 6491 6515 6515 5628 6515
6546 6714 6738 6762 6762 5840 6762
6793 6961 6985 7009 7009 6052 7009
7040 7208 7232 7256 7256 6264 7256
7287 7455 7479 7503 7503 6476 7503
7534 7702 7726 7750 7750 6688 7750
7781 7949 7973 7997 7997 6900 7997
8028 8196 8220 8244 8244 7112 8244
8275 8443 8467 8491 8491 7324 8491
8522 8690 8714 8738 8738 7536 8738
8769 8937 8961 8985 8985 7748 8985
9016 9184 9208 9232 9232 7960 9232
9263 9431 9455 9479 9479 8172 9479
9510 9678 9702 9726 9726 8384 9726
9757 9925 9949 9973 9973 8596 9973
10004 10172 10196 10220 10220 8808 10220
10251 10419 10443 10467 10467 9020 10467
10498 10666 10690 10714 10714 9232 10714
10745 10913 10937 10961 10961 9444 10961
10992 11160 11184 11208 11208 9656 11208
11239 11407 11431 11455 11455 9868 11455
11486 11654 11678 11702 11702 10080 11702

In [13]:
df = pd.DataFrame({"Car Name":names[:10000],"Year":model[:10000],"Kilometers":Kilometers[:10000],"Fuel":Fuel[:10000],"Location":Location[:10000],"EMI":EMI[:10000],"Price":Price[:10000]})
df

,Car Name,Year,Kilometers,Fuel,Location,EMI,Price
0,Mercedes-Benz M-Class ML 350 CDI,2015,"76,345 km",Diesel,Gurgaon,"EMI starts at₹44,588",26.85 Lakh
1,Maruti Suzuki Ignis Delta 1.2 AMT,2019,"38,386 km",Petrol,Gurgaon,"EMI starts at₹8,776",5.29 Lakh
2,Maruti Suzuki Swift Lxi ABS (O),2017,"18,001 km",Petrol,Delhi,"EMI starts at₹8,054",4.85 Lakh
3,Mahindra Thar LX 4-STR Convertible Diesel AT,2021,"5,000 km",Diesel,Delhi,"EMI starts at₹29,725",17.9 Lakh
4,Hyundai Eon Era +,2012,"57,718 km",Petrol,Noida,"EMI starts at₹3,653",2.2 Lakh
...,...,...,...,...,...,...,...
9995,MINI Cooper Countryman Cooper D,2022,"3,000 km",Petrol,Gurgaon,"EMI starts at₹32,798",7.3 Lakh
9996,Audi A6 Technology 45 TFSI,2022,"82,000 km",Petrol,Gurgaon,"EMI starts at₹58,123",3.35 Lakh
9997,MG Hector Sharp 2.0 Diesel Turbo MT,2019,"16,500 km",Petrol,Gurgaon,"EMI starts at₹29,725",5.35 Lakh
9998,Jaguar XE Prestige,2017,950 km,Diesel,Delhi,EMI starts at₹1.33 L,3.1 Lakh
9999,BMW 3 Series Gran Limousine 320Ld Luxury Line,2019,"16,500 km",Petrol,Noida,"EMI starts at₹89,676",4.25 Lakh

In [16]:
df.to_csv('Carwale Used Cars data.csv')

In [17]:
df.to_excel('Carwale Used Cars data.xls')

C:\Users\CLICKM~1\AppData\Local\Temp/ipykernel_20396/3526518894.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('Carwale Used Cars data.xls')

In [18]:
driver.close()

# Data has been collected. Lets start